header {
    color: blue;
}

h1 {
    color: red;
}

h2{
    color: purple;
}

h3{
    color: aquamarine;
}

h4{
    color: blueviolet;
}

h5{
    color: green;
}

h6{
    color: brown;
}
ul{
    color: deeppink;
}
